<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Register User</h1>
                <form action="/user/register" method="post">
                    <label for="first_name">First Name:</label>
                    <input type="text" name="first_name" class="form-control">
                    {%for error in get_flashed_messages(category_filter = ['first_name'])%}
                        <p class="alert alert-danger">{{error}}</p>
                    {%endfor%}
                    <label for="last_name">Last Name:</label>
                    <input type="text" name="last_name" class="form-control">
                    {%for error in get_flashed_messages(category_filter = ['last_name'])%}
                        <p class="alert alert-danger">{{error}}</p>
                    {%endfor%}
                    <label for="email">Email:</label>
                    <input type="email" name="email" class="form-control">
                    {%for error in get_flashed_messages(category_filter = ['email'])%}
                        <p class="alert alert-danger">{{error}}</p>
                    {%endfor%}
                    <label for="password">password:</label>
                    <input type="password" name="password" class="form-control">
                    {%for error in get_flashed_messages(category_filter = ['password'])%}
                        <p class="alert alert-danger">{{error}}</p>
                    {%endfor%}
                    <label for="confirm_password">Confirm password:</label>
                    <input type="password" name="confirm_password" class="form-control">
                    {%for error in get_flashed_messages(category_filter = ['confirm_password'])%}
                        <p class="alert alert-danger">{{error}}</p>
                    {%endfor%}
                    <br>
                    <input type="submit" value="Create" class="btn">
                </form>
            </div>
            <div class="col">
                <h1>Login</h1>
                <form action="/user/login" method="post">
                    <label for="email">Email:</label>
                    <input type="email" name="email" class="form-control">
                    {%for error in get_flashed_messages(category_filter = ['login_error'])%}
                        <p class="alert alert-danger">{{error}}</p>
                    {%endfor%}
                    <label for="password">password:</label>
                    <input type="password" name="password" class="form-control">
                    {%for error in get_flashed_messages(category_filter = ['login_error'])%}
                        <p class="alert alert-danger">{{error}}</p>
                    {%endfor%}
                    <br>
                    <input type="submit" value="Login" class="btn">
                </form>
            </div>
        </div>
    </div>
</body>
</html>